.card{
    background-color: var(--fl);
    width: 400px;
    height: 150px;
    box-shadow: 0px 2px 10px #090909;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    border: 3px solid transparent;
    border-image: linear-gradient(90deg,rgba(153, 129, 55, 1) 5%, rgba(242, 220, 107, 1) 30%,
     rgba(252, 249, 210, 1) 51%, rgba(242, 220, 107, 1) 70%, rgba(153, 129, 55, 1) 90%) 1;
    background: linear-gradient(90deg, #371f41 0%, #4e2525 100%);
    
}

.card p{
    max-width: 100%;
  white-space: normal;          /* permite quebras de linha */
  overflow-wrap: break-word;    /* quebra palavras longas */
  word-break: break-word;
  hyphens: auto;   
}

.card img{
    width:60%;
    height: 100%;
}

