/* reset global mínimo dentro do módulo */
:global(html, body) {
  margin: 0;
  padding: 0;
}

.maincont {
  /* garante que o container ocupe toda a altura da viewport */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75%;
  background-image: url('/img4.webp');
  background-size: cover;
  background-position-y: 11%;
}

.container {
  /* garante que o container ocupe toda a altura da viewport */
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

/* faz a section ocupar o espaço disponível dentro do container */
.s2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.containerdois {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;  
}

.menuImg {
  width: 200px;
  height: 100px;
  max-width: 100%;
  object-fit: cover;
  display: block;
  object-position: center;
}


